.carousel {
  display: flex;
  gap: 2rem;
  transform: translateX(var(--translate-x));
  transition: transform 500ms ease;
  width: var(--carousel-width);
  will-change: transform;
}

.item {
  position: relative;
  width: 6rem;
  height: 6rem;
  flex-shrink: 0;
  transition: transform 300ms ease;
  transform: translateZ(0);
  will-change: transform;
}

.item:hover {
  transform: scale(1.1);
}